---
import {
	AboutPageStyled,
	AboutPageStyledBoxesWrapper,
} from "@modules/About/styled";
import Layout from "../layouts/Layout.astro";
import { About as AboutModule } from "@modules/About";
import { TextBox } from "@components/textBox";
import { Container } from "@components/Container";
import { FadeIn } from "@utils/animations/FadeIn";
---

<Layout
    title="About"
    description="Hi, Im Nigel Breslaw, a Design Engineer based in Oulu Finland. I build beautifully crafted apps that have delighted millions of people."
>
    <main class="page-content">
        <AboutModule hideExp={true} client:load />
        <AboutPageStyled>
        </FadeIn client:visible>
               
        </AboutPageStyled>
    </main>
</Layout>
